// Grey tints
$tint-0: #000;
$tint-4: #615F5F;
$tint-7: #999696;
$tint-10: #C2BEBE;
$tint-13: #E0DCDC;
$tint-14: #F0F0F0;
$tint-16: #fff;

$primary: #ED6B9C;
$primaryVariant1: #FF99C8;
$primaryVariant2: #FFD4E8;

$secondary: #8AE1FC;




