html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size-m;
  line-height: 22px;
  margin: 0;
  box-sizing: border-box;
  color: $tint-4;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
.heading-xl  {

}

h3,
.heading-m {
  font-size: $font-size-m;
  letter-spacing: 1px;
  color: $tint-10;
  text-transform: uppercase;
  margin: 0 0 16px;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

.container {
  padding: 20px;
}

.grid-2-xs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-1-xs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

[class^="btn-group"] {
  display: flex;
  justify-content: center;

  [class^="btn"] {
    margin: 0 8px;
  }
}

.btn-group-sticky {
  position: sticky;
  bottom: 0;
}

.btn {
  background: $primary;
  box-shadow: 0 4px 12px 0 rgba($primaryVariant1,0.40);
  padding: 16px 22px;
  border-radius: 100px;
  @include smallTitle;
  color: $tint-16;
  letter-spacing: 1px;
  text-align: center;
  border: 0;
  text-transform: uppercase;
}

.btn-tint {
  background: $tint-13;
  padding: 16px 22px;
  border-radius: 100px;
  @include smallTitle;
  color: $tint-16;
  letter-spacing: 1px;
  text-align: center;
  border: 0;
  text-transform: uppercase;
}